@font-face {
  font-family: "iconfont"; /* Project id 3601776 */
  /* Color fonts */
  src: 
       url('//at.alicdn.com/t/c/font_3601776_q53rq1146zj.woff2?t=1661059315406') format('woff2'),
       url('//at.alicdn.com/t/c/font_3601776_q53rq1146zj.woff?t=1661059315406') format('woff'),
       url('//at.alicdn.com/t/c/font_3601776_q53rq1146zj.ttf?t=1661059315406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wyy:before {
  content: "\e600";
}

.icon-bilibili:before {
  content: "\e628";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-github:before {
  content: "\e722";
}

.icon-wangzhandingzhi:before {
  content: "\e69d";
}

.icon-a-wangzhanchaojilianjiehulianwang:before {
  content: "\e751";
}

.icon-musical-note:before {
  content: "\e606";
}

.icon-fenlei:before {
  content: "\e637";
}

.icon-shouye:before {
  content: "\e6bb";
}

.icon-lianxiwomen:before {
  content: "\e61a";
}

.icon-shijian:before {
  content: "\ed04";
}

.icon-biaoqian:before {
  content: "\e765";
}

